In [1]:
import plotly
import plotly.plotly as py
from plotly import __version__
print(__version__)
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import pandas as pd
import plotly.graph_objs as go
import plotly.figure_factory as ff
import cmocean
from plotly import tools
import colorlover as cl
from IPython.display import IFrame
import numpy as np

3.10.0

1. Find and graph the top 3 largest states by # of solar plants with a bar chart - https://raw.githubusercontent.com/plotly/datasets/master/solar.csv

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/solar.csv')

In [3]:
df.sort_values(by=['Number of Solar Plants'])
df.head(3)

,State,Number of Solar Plants,Installed Capacity (MW),Average MW Per Plant,Generation (GWh)
0,California,289,4395,15.3,10826
1,Arizona,48,1078,22.5,2550
2,Nevada,11,238,21.6,557

In [4]:
df_top_3 = df.sort_values(by=['Number of Solar Plants'], ascending=False).head(3)
# could also use df_top_3 = df.nlargest(3, 'Number of Solar Plants')

In [5]:
trace1 = go.Bar(
        x = df_top_3['State'],
        y = df_top_3['Number of Solar Plants'],
        name = 'Top 3 States by # of Solar Plants')

In [6]:
data = [trace1]
# layout = go.Layout(barmode='group')

# fig = go.Figure(data=data, layout=layout)
py.iplot(data, filename='Grouped Bar')

/Users/isaacsutor/dashpractice/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

2. Plot the closing price for Tesla stock only for the year 2018 - https://raw.githubusercontent.com/plotly/datasets/master/tesla-stock-price.csv

In [7]:
tesla = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/tesla-stock-price.csv')
tesla.head(199)

           date   close         volume    open      high       low
0         11:34  270.49      4,787,699  264.50  273.8800  262.2400
1    2018/10/15  259.59   6189026.0000  259.06  263.2800  254.5367
2    2018/10/12  258.78   7189257.0000  261.00  261.9900  252.0100
3    2018/10/11  252.23   8128184.0000  257.53  262.2500  249.0300
4    2018/10/10  256.88  12781560.0000  264.61  265.5100  247.7700
5    2018/10/09  262.80  12037780.0000  255.25  266.7700  253.3000
6    2018/10/08  250.56  13371180.0000  264.52  267.7599  249.0000
7    2018/10/05  261.95  17900710.0000  274.65  274.8800  260.0000
8    2018/10/04  281.83   9638885.0000  293.95  294.0000  277.6700
9    2018/10/03  294.80   7982272.0000  303.33  304.6000  291.5700
10   2018/10/02  301.02  11699690.0000  313.95  316.8400  299.1500
11   2018/10/01  310.70  21714210.0000  305.77  311.4400  301.0500
12   2018/09/28  264.77  33597290.0000  270.26  278.0000  260.5550
13   2018/09/27  307.52   7337760.0000  312.90  314.9600  306.9100
14   2018/09/26  309.58   7835863.0000  301.91  313.8900  301.1093
15   2018/09/25  300.99   4472287.0000  300.00  304.6000  296.5000
16   2018/09/24  299.68   4834384.0000  298.48  302.9993  293.5800
17   2018/09/21  299.10   5038497.0000  297.70  300.5800  295.3700
18   2018/09/20  298.33   7332477.0000  303.56  305.9800  293.3300
19   2018/09/19  299.02   8264353.0000  280.51  300.0000  280.5000
20   2018/09/18  284.96  16494280.0000  296.69  302.6400  275.5000
21   2018/09/17  294.84   6866208.0000  290.04  300.8700  288.1300
22   2018/09/14  295.20   6757652.0000  288.76  297.3256  286.5200
23   2018/09/13  289.46   6333281.0000  288.02  295.0000  285.1800
24   2018/09/12  290.54  10002150.0000  281.44  292.5000  278.6463
25   2018/09/11  279.44   9161061.0000  279.47  282.0000  273.5500
26   2018/09/10  285.50  14232250.0000  273.26  286.0300  271.0000
27   2018/09/07  263.24  22442310.0000  260.10  268.3500  252.2548
28   2018/09/06  280.95   7472756.0000  284.80  291.1700  278.8800
29   2018/09/05  280.74   7707342.0000  285.05  286.7800  277.1800
..          ...     ...            ...     ...       ...       ...
169  2018/02/14  322.31   3948077.0000  320.84  326.1700  318.5200
170  2018/02/13  323.66   4554631.0000  315.02  324.1900  312.5105
171  2018/02/12  315.73   6224479.0000  316.13  318.0800  306.2500
172  2018/02/09  310.42  12924430.0000  319.93  320.9845  294.7600
173  2018/02/08  315.23  10296420.0000  343.31  348.6200  314.6000
174  2018/02/07  345.00   6729682.0000  338.99  346.0000  335.6600
175  2018/02/06  333.97   5080032.0000  325.21  336.2200  323.5000
176  2018/02/05  333.13   4441166.0000  337.97  344.4700  333.0000
177  2018/02/02  343.75   3696157.0000  348.44  351.9500  340.5100
178  2018/02/01  349.25   4187440.0000  351.00  359.6600  348.6300
179  2018/01/31  354.31   6199373.0000  347.51  356.1900  345.1900
180  2018/01/30  345.82   4710684.0000  345.14  348.2700  342.1700
181  2018/01/29  349.53   4738208.0000  339.85  350.8500  338.2800
182  2018/01/26  342.85   4535457.0000  341.50  344.0000  335.7100
183  2018/01/25  337.64   6725208.0000  348.27  349.2000  336.4000
184  2018/01/24  345.89   5277386.0000  354.58  354.7500  343.5200
185  2018/01/23  352.79   5447622.0000  360.00  360.5000  351.0000
186  2018/01/22  351.56   6199777.0000  349.40  357.8300  349.2000
187  2018/01/19  350.02   4871181.0000  345.00  350.5899  342.6000
188  2018/01/18  344.57   5679629.0000  345.67  352.3000  343.7400
189  2018/01/17  347.16   7092554.0000  340.47  349.0000  339.7500
190  2018/01/16  340.06   6429234.0000  337.54  345.0000  334.8000
191  2018/01/12  336.22   4822509.0000  338.63  340.4100  333.6700
192  2018/01/11  337.95   6640863.0000  335.24  344.8099  333.2600
193  2018/01/10  334.80   4303053.0000  332.20  337.0000  330.0000
194  2018/01/09  333.69   7134525.0000  335.16  338.8000  327.4050
195  2018/01/08  336.41   9832610.0000  316.00  337.0199  315.5000
196  2018/01/05  316.58   4588728.0000  316.62  317.2400  312.0000
197  2018/01/04  314.62   9944593.0000  312.87  318.5500  305.6800
198  2018/01/03  317.25   4438520.0000  321.00  325.2500  315.5500

[199 rows x 6 columns]

In [8]:
new_tesla = tesla.drop(tesla.index[199:])

data = [go.Scatter(
        x = new_tesla.date,
        y = new_tesla['close'])]

py.iplot(data, filename='tesla-2018')

3. Graph the county with the highest population and the corresponding state from - https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv . Can you make the county within the state a specific color?

In [9]:
pop_df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv')

In [10]:
top_df = pop_df.nlargest(1, 'TOT_POP')
top_df.head(1)

,FIPS,STNAME,CTYNAME,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,NHWA_MALE,NHWA_FEMALE,NHWhite_Alone,Not_NHWhite_Alone,MinorityMinority,MinorityPCT,Black,BlackPCT,Hispanic,HispanicPCT
2624,6037,California,Los Angeles County,9962789,4914006,5048783,3571798,3560611,1367211,1355624,2722835,7239954,Yes,72.67%,923555,9%,4802133,48.20%

In [11]:
scope = ['California']
#df name
df_new = pop_df[pop_df['STNAME'].isin(scope)]

# list values
values = df_new['TOT_POP'].tolist()
fips = df_new['FIPS'].tolist()

bupu = cl.scales['9']['seq']['BuPu']
bupu500 = cl.interp( bupu, 65 )
fig = ff.create_choropleth(
    fips=fips, values=values, scope=scope, 
    colorscale=bupu500, round_legend_values=True,
    simplify_county=0, simplify_state=0,
    county_outline={'color': 'rgb(15, 15, 55)', 'width': 0.5},
    state_outline={'width': 0.5},
    legend_title='Population per County',
    title='California')

py.iplot(fig, filename='California Choropleth')
# IFrame(fig, width=700, height=350)

/Users/isaacsutor/dashpractice/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

The draw time for this plot will be slow for clients without much RAM.

/Users/isaacsutor/dashpractice/lib/python3.7/site-packages/chart_studio/api/v1/clientresp.py:44: UserWarning:

Estimated Draw Time Slow

Ranges and Highest Pop County

In [12]:
#have to have the colorscale values at least = to the # of counties
binning_endpoints = list(np.mgrid[min(values)+250000:max(values):5j])
colorscale = ['#D46D6A', '#8180B2', '#565595','#1B1A59' , '#0A093B', '#83478B', '#4C0F54', '#B05883']

#https://github.com/plotly/plotly.py/blob/master/plotly/figure_factory/_county_choropleth.py
#colorscale = ['#D46D6A', '#8180B2', '#565595','#1B1A59' , '#0A093B', '#83478B', '#4C0F54', '#B05883']


fig = ff.create_choropleth(
      fips=fips, values=values, scope=scope,binning_endpoints=binning_endpoints,
      colorscale=colorscale,round_legend_values=True,
      simplify_county=0, simplify_state=0,
      county_outline={'color': 'rgb(15,15,55)', 'width': 0.5},
      state_outline={'width': 0.5},
      legend_title='Population Per County',
      title='California')
    
    
py.iplot(fig, filename='Challenge 3 Choropleth Map')

The draw time for this plot will be slow for clients without much RAM.